# This file was generated automatically by conda-forge (vn 0.1.0).




language: objective-c



env:


  matrix:
    
    - CONDA_NPY=1.9  CONDA_PY=2.7  
    
    - CONDA_NPY=1.9  CONDA_PY=3.4  
    



  global:

    # The binstar_token secure variable. This is defined canonically in forge.yml.
    - secure: "KUkg1Z5NrKw5YAOIie8PCpVuDvlfeREkOYg4NhlA9jJdbZoS+habt5GxDeufA59oVVVpnxh52JgwCufGpO6M18mQ2gqWRmeFJEJ5e0Ss2ZqSIeHEIWE1hYCVE+R8GeadNgzg6kt4EgwdKvlLPOgkf7D9RUXPa2fdgIJB8iwc1f5H326kp2fuqT9iqT6zXCd84/m/ihVNpetnd2TptW2MAAxqfxTsI1VJzqS5nv9y/Bah7ngkGpsY/dzP4D7fqXyv0h8TcnIy9fFO+SIMCAEthN5IU98L+ZvLEsLv6JdYFSpXkQBvX3iUhugPam3elCvfkTl4fEOoWV8eF0I0ETDimiJ+bQx6hKsKM22PFxswS/6S5hlirKlCTP/sFRfA8bLZN97omD3ANyLTK43qMPTg0MtHFu1j9p8PvrBCuD8znHDRqwRbYB5FV3dsY4pA1GjqvmN5xz6aep3s1iEgp/+K7ZNEWkD59UGGZBjIjn7mg8xHlV3a7zStZ1JGRSIqiKiaDQF8KcYv9grIGdWLv+GcgiDHm8zz2+xNRN5vKtrsKeXFin0rmQIZWRZH1qr3AMkRv47plxCVx1DF5NJY9Pw/1ru+KnFhmhAYVHzTNd6ztsXpTO889/jePXsq3C03F/dYB1BqI12+E5/IvTvMw6ZVwhfJd+vcZ2t6aefKcqqgP4I="





install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-3.7.3-MacOSX-x86_64.sh"
      wget "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda update --yes conda
      conda install --yes conda-build jinja2 anaconda-client

      
      conda config --add channels scikit-xray-dev
      
      conda config --add channels scikit-xray
      

script:
  - conda build ./recipe

after_success:
  - ./ci_support/upload_or_check_non_existence.py ./recipe scikit-xray-dev --channel=main